<style>
    table th {
        text-align: center;
    }

    .table {
        margin: auto;
        width: 50% !important;
    }
</style>
<table class="table table-hover table-warning">
    <tbody>
        <tr>
            <td><label>Select Products</label></td>
            <td> <label>Quantity</label></td>
        </tr>
        <tr>
            <td>
                <select class="form-control" [(ngModel)]="pro" name="pro">
                    <option value="select your products">Select your products</option>
                    <option *ngFor="let p of productArray; let i = index" [value]="p.productId">{{p.productName}}
                    </option>
                </select>
            </td>
            <td>
                <input type="number" value="quantity" class="form-control" id="quantity" placeholder="Quantity"
                    [(ngModel)]="quantity"></td>

        </tr>
        <tr>
            <td></td>
            <td>
            </td>

            <td>
                <input type="button" value="Add" id="portests" class="btnm btn-success form-control" (click)="onAdd()">
            </td>
        </tr>

    </tbody>
</table>
<br/>
<hr />
<!-- Item which select will be add in this table-->

<table class=" table table-hover " >
    <thead>
        <tr>
            <th>Select</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody class="table-success">
        <tr *ngFor="let arr of productsArrToDisplay;let i=index">
            <th><input type="checkbox" name="record" [(ngModel)]="arr.isSelected"></th>
            <th>{{arr.productName}}</th>
            <th>{{arr.quantity}}</th>
        </tr>
 
    </tbody>
</table>
<hr/>
<br/>
<div class="row">
    <div class="col-sm-2">
      &nbsp;
    </div>
    
    <div class="col-sm-2">
            <button type="button" class="btn btn-danger" (click)="deleteRow()">Delete Row</button>
        </div>
    <div class="col-sm-4">
        </div>
        
    <div class="col-sm-4">
        <input type="button" value="Raise PO" class="btn btn-primary" id="purchaseOrder" (click)="RaisePo()" /></div>

</div>